<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Leer parametro desde la ruta -->
    <title>NodeJS - <%= title_page %></title>
    <!-- Include de un archivo EJS con los scripts y links necesarios -->
    <%- include('./partials/head') %>
</head>
<body>
    <!-- Include de contenido desde un archivo externo de EJS -->
    <%- include('./partials/navigation') %>    
    
    <header class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/img/icon.svg" alt="logo">
            <h1> NodeJS Website </h1>
            <a href="/about" class="btn btn-success text-center w-70"> Go to About </a>
        </div>
    </header>

    <!-- Include EJS - Footer -->
    <%- include('./partials/footer') %>
</body>
</html>
